@model IEnumerable<ProyectoFinal.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Mascotas</h1>


@foreach (var item in Model) {
    <a>
        <div>
            <div>
                <h2> @Html.DisplayFor(modelItem => item.Nombre)</h2>
            </div>
            <div>
                <img>
            </div>
            <div>
                <h2>Ver Mascotas</h2>
            </div>
        </div>
    </a>
}

