@model IEnumerable<ProyectoFinal.Models.Cuenta>

@{
    ViewData["Title"] = "Mi cuenta";
}

<h1>Mi cuenta</h1>

<div class="container">
    <div flex-column>
        <p>Nombre de usuario:</p>
        <p>@Context.Session.GetString("Nombre")</p>
     </div>
    <div flex-column>
        <p>Email:</p>
        <p>@Context.Session.GetString("Email")</p>
    </div>
    @{
        if (Context.Session.GetInt32("admin") == 1)
        {
            <a class="btn btn-primary" asp-area=""
               asp-controller="Refugio" asp-action="CrearRefugio">Añadir Refugio</a>
            //<button class="btn btn-primary">Añadir Refugio</button>
        }
    }
 </div>


