@model IEnumerable<ProyectoFinal.Models.Cuenta>

@{
    ViewData["Title"] = "Login";
}

<h1>login</h1>

<form action="/Cuenta/Loguearse" method="post">

    <input type="text" class="form-control" name="usr" placeholder="Usuario" required autofocus>

    <input type="password" class="form-control" name="pwd" placeholder="Contraseña" required>

    <button class="btn btn-primary" type="submit">
        Registrarse
    </button>
</form>