@model IEnumerable<ProyectoFinal.Models.Cuenta>

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form action="/Cuenta/Registrarse" method="post">

    <input type="text" class="form-control" name="usr" placeholder="Usuario" required autofocus>

    <input type="password" class="form-control" name="pwd" placeholder="Contraseña" required>

    <input type="email" class="form-control" name="eml" placeholder="Email" required>

    <button class="btn btn-primary" type="submit">
        Registrarse
    </button>
</form>
