html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.colorSalmon {
    background-color: salmon;
}

.letrasTitulo {
    font-size: 22px;
    color: #F0EAD6;
    font-weight: bold;
}

.letrasSubTitulo {
    font-size: 18px;
    color: #F0EAD6;
    font-weight: bold;
}